<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出日志信息配置 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{70} - %msg%n</Pattern>
    </layout>
  </appender>

	<!-- 文件输出日志信息配置 -->
  <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>../logs/springboot-learnin.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../logs/springboot-learning-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>2</maxHistory>
    </rollingPolicy>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
    </encoder>
  </appender>
  
	<!-- 指定某个包要打印的日志级别，低于该级别的不会打印-->
	<logger name="org.springframework" level="INFO" />
	<logger name="springfox.documentation" level="INFO" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.mybatis" level="INFO" />

  <root level="${app.log.level:-DEBUG}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="rollingFile"/>
  </root>
</configuration>